@media only screen and (max-width: 1300px) and (min-width: 600px) 
{
    .mobilust
    {
        background-color: #0a0a0a;
        height: 195px;
    }
    .anabasyazi
    {
        font-size: 65px;
        text-align: center;
        margin-left: 80%;
        width: 300px;
        margin-top: 20px;
    }
    .foterustbeyaz
    {
        display: none;
        position: relative;
        z-index: -4;
    }
    .foterustbeyazbir
    {
        background-color: #fef7e9;
        margin-top: 50px;
        float: left;
    }
    .gizli
    {
        position: relative;
        z-index: 0;
        float: left;
        margin: 40px 0px 10px 40px;
    }
    .parent {
        overflow: hidden;
        position: relative;
        display: inline-block;
        cursor: pointer;
    }
    .zommlama
    {
        background-repeat: no-repeat;
        background-size: 100% 100%; 
        width: 580px;  
        height: 360px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    .parent:hover .zommlama, .parent:focus .zommlama {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    .parent:hover .zommlama:before, .parent:focus .zommlama:before {
        display: block;
    }
    
    .parent:hover , .parent:focus  {
        display: block;
    }
    .anaortyazi
    {
        margin-top: 90px;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-left: -200px;
        width: 600px;
    }
    .anaaltyazi
    {
        margin-left: 45%;
        width: 400px;
        text-align: center;
    }
    .telefon
    {
        background-image:url(./resim/telefonarkasi.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 902px;
        margin-bottom: 60px;
    }
    .telkendi
    {
        float:right;
        margin-left: 30%;
        margin-top: 70px;
    }
    .tlfimg
    {
        width: 800px;
    }
    .telefonyazi
    {
        float: left;
        margin: 80px 0px 20px 140px;
        text-align: center;
        
    }
    .tlfyazialt
    {
        width: 440px;
        margin-left: 30px;
    }
    .tlfyazii
    {
        margin-left: -20px;
        
    }
    .what
    {
        font-size: 36px;
        color: #000000;
    }
    .testimonials
    {
        font-size: 20px;
    }
    .whatbt
    {
        width: 100%;
    }
    .kindddle
    {
        float: right;

    }
    .tlfyazibas
    {
        margin-left: 0px;
        
        width: 500px;
    }
    .kayari
    {
        float: right;
        margin-top: -145px;
        margin-right: 230px;
    }
    .yazzilarayar
    {
        width: 80%;
        margin-left: 12%;
    }
    .resimaltbas
    {
        font-size: 85px;
        font-family: Kristi;
    }
    .resimaltyazi
    {
        text-align: center;
        color: #000000;
        font-size: 30px;
        width: 550px;
        letter-spacing: 1px;
        margin-left: 10%;
        font-weight: 400;
    }
    .resimaltbuton
    {
        background-color:#41b886;
        color: white;
        border-radius: 5px;
        border: none;
        width: 170px;
        height: 40px;
        margin-top: -20px;
    }   

    .resimaltbuton:hover
    {
        background-color: #357f60;
        color: white;
    }
    .carolink
    {
        background-color: black;
        margin: 550px 0px 0px 130px;
        border-radius: 5px;
        float: left;
    }
    .carolink:hover
    {
        background-color: black;
    }
    .carolinknext
    {
        margin: 550px 1137px 0px 0px;
        background-color: black;
        border-radius: 5px;
        float: left;
    }
    .carolinknext:hover
    {
        background-color: black;
    }
    .shopyazi
    {
    background-image:linear-gradient(180deg, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.8) 100%),url(https://avada.theme-fusion.com/author/wp-content/uploads/sites/128/2020/02/bg-14@2x-scaled.jpg);   
    background-size: 100% 100%;
    height: 195px;
    width: 103.4%;
    margin-left: -15px;
    text-align: center;
    }
    .audible
    {
        margin-left: 20px;
    
    }
    .banno
    {
       
        width: 400px;
        margin-left: 55px;
    }
    .ustealma
    {
        margin-top: -5px;
        margin-left: 15px;
    }
    .barness
    {
        float: right;
        margin-left: 0px;
        margin-top: -80px;
        
    }
    .barnesno
{
    margin-top: 16px;
    margin-right: 20px;
}
    .pemberesimboyut
    {
        
        width: 140px;
        height: 80px;
        
        
    }
    .kindlefire
    {
        display: inline;
        font-size: 29px;
        float: left;
        font-weight: 500;
        margin-top: 10px;
    }
    .ebaayar
    {
        
        margin-left: -30px;
    }
    
    .resimalt
    {
        margin-top: 800px;
    }
    .aboutuzunyazi
    {
        margin-top: 300px;
        margin-bottom: 70px;
    }
    .aboresim
    {
        width: 100%;
        height: 400px;
    }
    .met
    {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 460px;
        border-radius: 0px 0px 50px 0px;
        margin-bottom: 30px;
        margin-left: 32px;
        transition: all .5s ease-in-out;
        cursor: pointer;
    }
   
    .linkucsari
    {
        width: 290px;
        margin-left: 30px;
    }
    .aboutortasiyah
    {
        width: 75%;
        font-size: 30px;
        font-weight: 500;
        margin-left: 12%;
    }
    .masa
    {
        width: 300px;
    }
    .aboutanayaziayar
    {
        width: 290px;
        
    }
    .aboutsagyazi
    {
        width: 290px;
        margin-left: 4%;
    }
    .aboutanayazi
    {
        margin-left: 10px;
        width: 350px;
        border-right: 1px solid #bdbdbd;
    }
    .ay
    {
        margin-left: 10%;
    }
    .metyazi
    {
        background-image:linear-gradient(180deg, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.8) 100%), url(./resim/meetups.png);
        background-size: 100% 100%;
        height: 195px;
        width: 103.3%;
        margin-left: -15px;
        text-align: center;
    }
    .contyaziboyut
    {
        text-align: center; 
        font-size: 28px; 
        color: black;
        width: 70%;
        margin-left: 15%;
        font-weight: 400;
        margin-bottom: 50px;
    }
    .cnresimyazi
    {
        background-image: url(./resim/genesıs.png);
        background-size: 100% 100%;
        height: 220px;
        width: 106.6%;
        margin-left: -15px;
        text-align: center;
    }
    .coroimg
    {
        width: 100%;
        height: 960px;
    }
    .beyazresim
    {
        width: 90%;
    }
    .shopuclu
    {
        margin-left: 5%;
    }
    .beyazyer
    {
        background-color: white;
        width: 93%;
        height: 400px;
        font-size: 10px;
        margin: 10px 0px 80px 20px;
    }
    .beyazbuton
    {
        border: 2px solid #a4d2c2;
        border-radius: 12px;
        height: 45px;
        width: 50%;
        display: inline-block;
    }
    
    .beyazbuton:hover
    {
        border-top: 2px solid #82baa6;
        border-left: 2px solid #82baa6;
        border-bottom: 2px solid #82baa6;
        border-radius: 12px;
    }
    .bra
    {
        margin-right: 30px;
        
    }
    
    .numayar
    {
        width: 200px;
    }
    .acikayar
    {
        margin-top: 40px;
        margin-bottom: 50px;
        
    }
    .acikayarboyut
    {
        width: 800px;
    }
    .cnresimbas
    {   
        float: left;
        margin-top: 50px;
        margin-left: 30%;
        color:white; 
        font-size: 35px;
        font-weight: 600;
    }
    .cnresimalt
    {   
        float: left;
        margin-top: 10px;
        color: #f4b429; 
        font-size: 20px;
        margin-left: 18%;
    }
    .myucluyazi
    {
        width: 90%; 
        margin: 20px 0px 70px 10px;
    }
    .altcizgimy
    {
        border-bottom: 1px solid #c4c4c4;
        margin-bottom: 50px;
    }
    .axzs
    {
        margin-left: -10px;
    }
    
    .myuclu
    {
        
        margin-top: 30px;
        
    }
    .myucluresim
    {
        width: 100%;
        height: 210px;
    }
    .bro
    {
        font-size: 18px; 
        color: #4f4f4f; 
        font-weight: 500;
        width:  240px;
    }
    
    .mybyalt
    {
        width: 97%; 
        margin: 30px 0px 100px 0px;
        
    }
    .aboutme
    {
        background-color: black;
        height: 195px;
    }
    .aboutmeyazi
    {
        background-image:url(./resim/romans.png);
        background-size: 100% 100%;
        height: 195px;
        width: 104%;
        margin-left: -15px;
        text-align: center;
    }
    .myortresim
    {
        background-image: linear-gradient(180deg, rgba(0,0,0,0.29) 0%,rgba(0,0,0,0.68) 100%),url(https://avada.theme-fusion.com/author/wp-content/uploads/sites/128/2019/11/thumb-08@2x.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 700px;
        width: 140%;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .mybyresim
    {
        margin-left: -27px;
        width: 104.3%;
        height: 440px;
    }
    .myortresimyaziayar
    {
        width: 260px; 
        margin: 40px 0px 0px 10px; 
    }
    .myortresimyazi
    {
        font-size: 18px;
        font-weight: 500; 
        color: white;
    }
    .myortresimcbas
    {
        font-size: 39px;
    }
    .logo
    {
        margin-left: -40px;
        margin-top: 10px;
    }
    .shop
    {
        margin-top: -24px;
    }
    .shopyazibas
    {      
        margin-left: 38%;
        float: left;
        margin-top: 50px;
        color:white; 
        font-size: 45px;
    }
    .shopyazialt
    {   
        height: 70px;
        float: left;
        color: #f4b429; 
        font-size: 19px;
        margin-left: 30%;
    }
    .myyazibas
    {
        margin-left: 34%;
        float: left;
        margin-top: 50px;
        color:white; 
        font-size: 45px;
    }
    .myyazialt
    {
        height: 70px;
        float: left;
        color: #f4b429; 
        font-size: 19px;
        margin-left: 27%;
    }
    .metyazibas
    {      
        margin-left: 42%;
        float: left;
        margin-top: 50px;
        color:white; 
        font-size: 45px;
    }
    .ortakisim
    {
        margin-left: 18%;
    }
    .metyazialt
    {   
        height: 70px;
        float: left;
        color: #f4b429; 
        font-size: 19px;
        margin-left: 33%;
    }
    .showw12
    {
        margin-right: 50%;
    }
    .yan
    {
        margin: 0px 200px 5px 100px;
        width: 42.3%;
    }
    .shopimg
    {
        width: 220px;
        height: 150px;
    }
    .yazifiyat
    {
        width: 220px;
        margin-left: 20px;
        text-align: center;
    }
    .dolar
    {
        margin-left: 12%;
    }
    .moblogo
    {
        margin-left: -50px;
    }
    .merealt
    {
        text-align: center; 
        font-size: 28px; 
        color: black;
        margin-top: 30px;
        width: 90%;
        margin-left: 30px;
        margin-bottom: 100px;
    }
    .sola
    {
        margin-left: 20px;
    }
    .ortalama
    {
        margin: 50px 0px 5px 100px;
    }
    .ortalamayan
    {
        margin: 50px 0px 5px 0px;
    }
    .yan1
    {
        margin: 0px 0px 0px 150px;
    }
    .sepetyazi
    {
        background-image:linear-gradient(180deg, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.8) 100%),url(https://avada.theme-fusion.com/author/wp-content/uploads/sites/128/2020/02/bg-15@2x-scaled.jpg);  
    background-size: 100% 100%;
    height: 170px;
    width: 103.7%;
    margin-left: -15px;
    text-align: center;
    margin-bottom: 50px;
    }
    .sepetyazibas
    {
        margin-left: 40%;
        float: left;
        margin-top: 40px;
        color:white; 
        font-size: 45px;
    }
    .sepetorta
    {
        text-align: center;
        margin-bottom: 50px;
       
    }
    .myorta
    {
        margin-bottom: 50px;
    }
    .ortyazisi
    {
        margin-left: 18%;
        width: 65%;
        border-top: 1px solid #808080; border-bottom: 1px solid #808080;
    } 
    .sptyazibir
    {
      color: #808080; font-size: 20px;
    }
    .testiyazi1
    {
        background-image:linear-gradient(180deg, rgba(48,48,48,0.29) 0%,rgba(0,0,0,0.68) 100%), url(https://avada.theme-fusion.com/author/wp-content/uploads/sites/128/2020/02/bg-15@2x-scaled.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 195px;
        width: 104.0%;
        margin-left: -15px;
        text-align: center;
    }
    .aus
    {
        height: 300px;
    }
    .aklhg
    {
        width: 93%;
        margin-left: 5%;
        margin-bottom: -10px;
    }
    .aut
    {
        height: 330px;
    }
    .ayar
    {
        margin-top: 50px;
        margin-left: 6%;
    }
    .mopembetesti
    {
        margin: 20px 0px 20px 0px;
        width: 610px;
        height: 260px;
        background-color: #fef7e9; 
        text-align: center;
        margin-left: 10%;
    }
    .pembetestiyazisi
    {
        margin-left: 50px;
        margin-top: 20px;
        width: 400px;
    }
    .testiyazi
    {
        text-align: center;
        font-size: 30px;
        margin: 20px 0px 20px 40px;
        width: 85%;
        color: #000000;
    }
    .viva
    {
     margin-left: 18px;
    }
    .testianayazi
    {
        text-align: center;
        margin: 30px 0px 50px 80px;
    }
    .testiresim
    {
        width: 75%; margin: 80px 0px 0px 50px; float: left;
    }
    .pmbat1
    {
        width: 360px;
        margin: 0px 0px 50px 0px;
    }
    .metin2
    {
        background-image:linear-gradient(180deg, rgba(48,48,48,0.29) 0%,rgba(0,0,0,0.68) 100%), url('./resim/bayan1yakın.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 880px;
        
        border-radius: 0px 0px 90px 0px;
        width: 328px;
        margin-right: 20px;
        margin-left: 115px;
        margin-top: 40px;
    }
    .metin1
    {
        background-image:linear-gradient(180deg, rgba(48,48,48,0.29) 0%,rgba(0,0,0,0.68) 100%), url(./resim/bayan1.png); 
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 880px;
        border-radius: 0px 0px 90px 0px;
        width: 100%;
        margin-left: 10%;
        margin-bottom: 100px;

    }
    .metin
    {
        background-image:linear-gradient(180deg, rgba(48,48,48,0.29) 0%,rgba(0,0,0,0.68) 100%),  url(./resim/sepet.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 900px;
        border-radius: 0px 0px 90px 0px;
        width: 100%;
        margin-left: 10%;
    }
    .uclugizli
    {
        display: inline-block;
    }
    .ucluyer
    {
        background-color: #fef7e9;
        height: 1440px;
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    .ucluyerbaslik
    {
        width: 450px;
        margin: 60px 0px 0px 110px;
        text-align: center;
    }
    .ucluyeruclu
    {
        height: auto;
        margin-top: 50px;
        margin-left: 20px;
    }
    .abcfg
    {
        margin-left: 50px;
    }
    .uclu
    {
        width: 300px;
        background-color: white;
        height: 500px;
        margin-top: 40px;
        margin-left: 50px;
        float: left;
    }
    .adfg
    {
        width: 300px;
    }
    
    .mobimglink
    {
        width: 300px; 
        height:190px;
    }
    .bos
    {
        margin-top: 60px;
        margin-left: 20%;
        font-family: "DM Serif Display", Georgia, serif;
        font-size: 40px;
        font-weight: 500;
    }   
    .uclubasyazi1
    {
        width: 300px;
    }
    .cizgili
    {
        width: 250px; 
        margin-left: 20px; 
        margin-top: 30px;
        text-align: left;
    }
    .pembealt
    {
        width: 320px;
        margin: 0px 0px 50px 20px;
    }
    .pembealt1
    {
        width: 360px;
        margin: 0px 0px 50px 20px;
    }
    .pmbat
    {
        width: 320px;
        margin: 0px 0px 50px 45px;
    }
    .pmbat1
    {
        width: 360px;
        margin: 0px 0px 50px 45px;
    }
    .metgrupimg
    {
        width: 280px;
        height: 180px;
    }
    .moayar
    {
        margin: 0px 0px 20px 40px;
    }
    .metgrpyazi
    {
        width: 85%;
        margin: 25px 0px 50px 20px;
    }
    .siyahyer
    {
    background-image: linear-gradient(180deg, rgba(48,48,48,0.29) 0%,rgba(0,0,0,0.68) 100%), url(./resim/banner2.png);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    height: 530px;
    }
    .siyahorta
    {
        text-align: center;
        width: 470.5px;
        margin-left: 20%;
    }
    .emailgiris
    {
        width: 100%; height: 50px;
    }
    .emailbutonu
    {
        height: 50px; 
        width: 100%; 
        margin-top: 25px;
        background-color: #35a978;
        color: white;
        font-size: 18px;
    }
    .emailbutonu:hover
    {
        background-color: #357f60;
        color: white;
    }
    .saltbas
    {
        font-size: 40px;
        font-weight: 600;
        
        margin-left: 60px;
    }
    .saltbas1
    {
        font-size: 25px;
        font-weight: 400;
               
        margin-left: 60px;
    }
    .homet
    {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 425px;
        width: 350px;
        border-radius: 0px 0px 50px 0px;
        margin-bottom: 30px;
        margin-left: 30px;
        transition: all .5s ease-in-out;
        cursor: pointer;
    }
    .ikinciyazi
    {
        margin: 200px 0px 0px 0px;
        text-align: center;
    }
    .linkucsari
    {
        width: 140px;
        color: #f4b429; 
        font-size: 18px;  
        text-align: center;
        margin-left: -2px;
    }
    .linkuclucizgi
    {
        margin-left: 50px;
        width: 50px;  
        border-bottom: 2px solid #555453;  
        margin-top: 10px;
    }
    .foterustu
    {
        background-color: #fef7e9;
        height: 1800px;
    }
    .warning
    {
        width: 100%; 
        color: white; 
        margin-top: 5px;
        background-color: #ffbd2f;
        height: 40px;
        border-radius: 5px;
        border: none;
    }
    .warning:hover
    {
        background-color: #f4a700;  
        color: white; 
    }
    .asdd
    {
        margin-left: 1px;
    }
    .asc
    {
        margin-top: 50px;
    }
    footer
    {
        float: left;
        background-image: url(./resim/adam.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        color: white;
    }
    .fotaltyazisi
    {
        text-align: center;
        margin-left: -80px;
        width: 100%;
        font-size: 12px;
    }
    .fotalt
    {
        font-size: 14px;
    }
}